<div class="row col-lg-9 centered " >

    {{ form_start(form, {'attr': {'id': 'forma'}}) }}
    {{ form_widget(form, {'attr': {'class': 'row'}}) }}
    {{ form_end(form) }}

</div>	<!-- End of Col Div-->


