<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close noprint" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title noprint" id="exampleModalLabel">Title</h4>
            </div>
            <div class="modal-body">

                <table class='table table-bordered'>
                    <thead>
                    <th colspan="2" class="modal-title"></th>
                    </thead>
                    <tbody>
                    <tr><td>Invoice Number</td><td class="modal-num2"></td></tr>
                    <tr><td>Date</td><td class="modal-date"></td></tr>
                    <tr><td>Description</td><td class="modal-description"></td></tr>
                    <tr><td>Quantity</td><td class="modal-qty"></td></tr>
                    <tr><td>Price</td><td class="modal-price"></td></tr>
                    <tr><td>Total</td><td class="modal-total"></td></tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer noprint">
                <button type="print" class="btn btn-success" onclick="window.print();">Print</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>